<!DOCTYPE html>
<html lang="es">
<head>
 {% block head %}
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{% block title %}{% endblock %}</title>
 <link rel=icon href="https://storage.googleapis.com/meditweet-2019.appspot.com/meditweet-03.png" sizes="16x16" type="image/png">
 {% endblock %}
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>
